%ul.menu
  - if user_signed_in?
    %li
      = link_to 'Sing out', destroy_user_session_path, method: 'delete'
  - else
    %li 
      = link_to 'Sing in', user_session_path
    %li
      = link_to 'Sing up', new_user_session_path

